<div style="display: flex; flex-direction: column; justify-content:flex-start;">
    <ol class="list-group" *ngFor="let todo of todos">
        <li class="list-group-item" mat-line>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="check">
                <mat-checkbox
                  (click)="checkBox(todo)"
                ></mat-checkbox>
                {{ todo.title }}
              </div>
            </div>
          </div>
          <ol class="list-group" *ngIf="todo.isChecked">
            <li class="list-group-item" *ngFor="let item of todo.addOns">
              {{ item.title }}
              <input
                id="item.key"
                class="form-control"
                style="margin-bottom: 10px;"
                [style.color]="toggle ? 'red' : 'green'"
                type="text"
              />
              <button
                style="margin-right: 10px;"
                class="btn btn-warning"
                (click)="changeColor()"
              >
                Change Color
              </button>
              <button class="btn btn-info" (click)="addNew(todo)">Add more?</button>
            </li>
          </ol>
        </li>
        <mat-divider></mat-divider>
      </ol>
</div>
